extend _layouts/main.pug

block vars
  -
    title = "Info"

block content
  p
    a(href="/img/originals/info.jpg" target="_blank")
      img.img-responsive(src="/img/thumbs/info.jpg")
  p Ben was born in Tallahassee, Florida. He lives in Oakland with his boyfriend Lake and their cats Pepperoni Dogfart and Baby Jessica.

  br
  p
    | #[b Contact]
  p
    | #[a(href="mailto:spottedben@gmail.com") spottedben@gmail.com]

