.art-thumb {
    display: block;
    width: auto;
    height: auto;
    margin-bottom: $base-padding * 2;
    max-width: $base-art-maxThumbWidth;

    img {
        margin-bottom: $base-padding / 2;
    }
}

.art-cover-container {
    width: 100%;
    height: auto;
    max-width: 900px;
    max-height: 100%;
    overflow-x: hidden;

    img {
        width: 100%;
        height: auto;
    }
}
